# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
build/
.env
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Django
db.sqlite3
/media/
/staticfiles/

# Node
node_modules/
dist/
.vite/

# IDE / OS
.idea/
.vscode/
.DS_Store
